# We need files to have unix line endings (just lf) to avoid
# issues with the packages folder (which we run treehash over).

*.js   eol=lf
*.json eol=lf
*.css  eol=lf
*.md   eol=lf
README eol=lf
*.coffee eol=lf
*.litcoffee eol=lf
.gitignore eol=lf
.gitattributes eol=lf
